<footer class="py-4 bg-dark text-white text-center">
    <div class="container">
        <p class="mb-0">&copy; 2023 NAYAN.AI. All Rights Reserved.</p>
        <ul class="list-inline mt-3">
            <li class="list-inline-item">
                <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-white"><i class="bi bi-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
            </li>
        </ul>
    </div>
</footer>